<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>404 Error!</title>
</head>
<body>
	<h1>Oops! The page you are looking for does not exist. Please head 
	<a href="/"> home</a> and try again.</h1>
</body>
</html>