<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
	<body>
		<h1>Welcome to Veloce</h1>

		<h2>Get started</h2>

				<a href="/signup" class = "btn btn-primary btn-lg">Sign up</a>	

				<a href="/login" class = "btn btn-primary btn-lg">Log in</a>
  			
		</form>
	</body>
</html>