<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Veloce</title>
	</head>
	<body>
		<h1>Welcome to Veloce</h1>
		<h1>Check out our inventory <a href="/inventory">here</a></h1>

		<h2>Sign up to add a new vehicle</h2>

				<a href="/signup" class = "btn btn-primary btn-lg">Sign up</a>	
		
		<h2>Log in to see your vehicles</h2>

				<a href="/login" class = "btn btn-primary btn-lg">Log in</a>
  			
	</body>
</html>