<% include partials/headers.ejs %>
<!-- 
<!DOCTYPE html>
<html lang="en">
	<head> -->
		<!-- <meta charset="UTF-8">
		<title>Veloce</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css"> -->

	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<body background ="http://s.petrolicious.com/garages/righini-collection/righini-08.jpg">
		<h1 class="homepageheadline">Welcome to Veloce</h1>
		<h1>Check out our inventory <a href="/inventory">here</a></h1>

		<h2 class="title">The enthusiasts vintage car marketplace</h2>

		<h2>Have an account? Login<a href="/login">here</a></h2>

	</body>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>