<% include partials/headers.ejs %>


	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<body background ="http://s.petrolicious.com/garages/righini-collection/righini-08.jpg">
		<h1 class="homepageheadline">Welcome to Veloce</h1>
		
		<h2 class="main">The enthusiasts vintage car marketplace</h2>

		<h3 class="main">Check out our <a href="/inventory">inventory</a></h3>

		<h3 class="main">Have an account? <a href="/login"> Login</a></h3>
	</body>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>