<% include /partials/headers.ejs %>
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
	<body>
	
	<h2>Fill Out Listing</h2>
<input type="file" id="files"/>
<p id="status">Please upload an image</p>
<div style="border:1px solid gray; width:200px height:200px;"  id="preview"></div>

  <form action="/newcar" method = "post">
  	<input type="hidden" id="avatar_url" name="avatar_url">
	<p>
	<br>
		<label for="make">Make:</label>
		<input type="text" name="make" id="make">
	</br>
	</p>
	
	<p>
		<label for="model">Model:</label>
		<input type="text" name="model" id="model">	
	</p>

	<p>	
		<label for="year">Year:</label>
		<input type="number" name="year" id="year">
	</p>

	<p>	
		<label for="description">Description:</label>
	<p>
		<textarea name="description" id="description" cols="50" rows="10"></textarea>
		</p>
	</p>
	<input type="submit" value="Save car">

</form>




<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js">
	
</script>
<script type="text/javascript" src="/javascripts/lodash.min.js">
	
</script>
<script type="text/javascript" src="/javascripts/s3upload.js">
	
</script>

<script type="text/javascript">

function s3_upload(){
    var s3upload = new S3Upload({
        file_dom_selector: '#files',
        s3_sign_put_url: '/sign_s3',
        onProgress: function(percent, message) {
            $('#status').html('Upload progress: ' + percent + '% ' + message);
        },
        onFinishS3Put: function(public_url) {
            $('#status').html('Upload completed. Uploaded to: '+ public_url);
            $("#avatar_url").val(public_url);
            $("#preview").html('<img src="'+public_url+'" style="width:300px;" />');
        },
        onError: function(status) {
            $('#status').html('Upload error: ' + status);
        }
    });
}

$(document).ready(function() {
    $('#files').on("change", s3_upload);
});
</script>




	

	</body>
</html>