.red{
	background-image: url("http://3.bp.blogspot.com/-LKQtSxSkwBA/UXvYgfjUXlI/AAAAAAAAAvs/eYVaSKv8rLI/s1600/startlm70.JPG");
	text-align: center;
	color: white;
}

.homepageheadline {
	text-align: center;
	color: white;
}