<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
</head>
<body>
<h1>Sign up</h1>
	<form action="/users" method="post">
  			<label for="email" name="user[email]" id="email"></label>
  			<label for="user">Username: </label> <input type="text" name="username" id="username">
  			<label for="password">Password: </label> <input type="password" name="password" id="password">
  			<input type="submit" value="Sign up!" class = "btn btn-primary">
</body>
</html>