<% include ../partials/headers.ejs %>

<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
</head>
<body class="red">
<h1>Sign up</h1>
		<form action="/users" method="post">
  			<p>
  				<label for="user">Username: </label> 
  				<input type="text" name="username" id="username" autofocus required placeholder="enter username...">
  			</p>
			<p>
				<label for="password">Password: </label> 
				<input type="password" name="password" id="password" required placeholder="enter password...">
			</p>
			<p>
			<input type="submit" value="Sign up!" class = "btn btn-primary">
			</p>
</div>
</body>
</html>